LAGO_DOMAIN=
LAGO_ACME_EMAIL=
PORTAINER_USER=
PORTAINER_PASSWORD=

# Optional Redis Sentinel settings and authentication:
# https://github.com/getlago/lago/blob/main/docs/dev_environment.md#running-with-redis-sentinel
# Requires an API release with support for the Sentinel credential variables.
