# Lago Front local env.
# Copy this file to front/.env.

API_URL=http://localhost:3000
APP_ENV=development
CODEGEN_API=http://localhost:3000/graphql
CYPRESS_APP_URL=http://localhost:5173

LAGO_DOMAIN=
LAGO_OAUTH_PROXY_URL=
LAGO_DISABLE_SIGNUP=
LAGO_DISABLE_PDF_GENERATION=true
LAGO_API_PROXY_TARGET=

NANGO_PUBLIC_KEY=
SENTRY_DSN=
LAGO_SUPERSET_URL=
