<clickhouse replace="true">
    <logger>
        <level>debug</level>
        <log>/var/log/clickhouse-server/clickhouse-server.log</log>
        <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
        <size>1000M</size>
        <count>3</count>
    </logger>
    <display_name>clickhouse_dev</display_name>
    <listen_host>0.0.0.0</listen_host>
    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>
    <user_directories>
        <users_xml>
            <path>users.xml</path>
        </users_xml>
        <local_directory>
            <path>/var/lib/clickhouse/access/</path>
        </local_directory>
    </user_directories>
    <storage_configuration>
        <disks>
            <default>
            </default>
            <s3>
                <type>s3</type>
                <endpoint>http://minio:10000/clickhouse/</endpoint>
                <access_key_id>lago</access_key_id>
                <secret_access_key>lagopassword</secret_access_key>
                <region></region>
                <metadata_path>/var/lib/clickhouse/disks/s3/</metadata_path>
                <cache_enabled>true</cache_enabled>
                <data_cache_enabled>true</data_cache_enabled>
                <enable_filesystem_cache>true</enable_filesystem_cache>
            </s3>
            <s3_cache>
                <type>cache</type>
                <disk>s3</disk>
                <path>/var/lib/clickhouse/disks/s3_cache/</path>
                <max_size>10Gi</max_size>
            </s3_cache>
        </disks>
        <policies>
            <default>
              <volumes>
                <default>
                  <disk>default</disk>
                </default>
                <cold>
                  <disk>s3</disk>
                </cold>
              </volumes>
            </default>
        </policies>
    </storage_configuration>
</clickhouse>